
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */



/*================================
    GENERAL STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Roboto); /* GOOGLE FREE FONTS */

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 80px;
    padding-bottom: 120px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}
/*================================
    NAVBAR STYLES
==================================*/
.navbar-default {
    background-color: #d73a3a; /* cornell red */
    border-color: transparent;
    color: #fff;
}

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
        color: #fff;
    }

.navbar-brand {
    padding:0px;
}
.navbar-brand img{
    max-height:40px;
    padding-top: 5px
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}

.navbar img{
    max-height: 20px;
}
/*================================
    HOME SECTION STYLES
==================================*/

/*STYLE OF BACKGROUND IMAGE*/
#home {
    background: url(../img/csc_long.jpg) no-repeat center/60%; /*Full Width background image*/;
    padding-top: 50px;
    background-position: 20vw 1vh;
    /*
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;*/
    min-height: 600px;
}


/*CLASS TO FORMAT TEXT*/
.p-cls {
    padding-top: 30px;
    padding-bottom: 40px;
}

/*GLYPHICON SIZE*/
.glyphicon{
    font-size: 5em;
}

/*======================================
    PARALLAX LIKE / STATS SECTION STYLES
=========================================*/

.parallax-like {
    background: url(../img/stats.jpg) no-repeat center center; /* DEFINE IMAGE PATH CAREFULLY*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .parallax-like .overlay {
        min-height: 200px;
        background: #d73a3a;
        font-size: 40px;
        padding-bottom: 60px;
        padding-top: 60px;
    }

/*================================
    PORTFOLIO / WORK SECTION STYLES
==================================*/
.portfolio-item img:hover { /* POSTFOLIO IMAGE BIG ON HOVER */
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 1;
}

#clientlogos{
    width:100%;
    text-align:center;
}
#clientlogos .logo-wrapper{
    width:310px;
    height:100px;
    line-height: 100px;
    text-align:center;
    display: inline-block;
    vertical-align: middle;
    padding:10px;
}
.logo-wrapper img{
    max-height: 100px;
    max-width: 310px;
    vertical-align: middle;
}

#works ul li{
    list-style-type:none;
}

#client_testimonials img{
    width: 150px;
    vertical-align: middle;
}

/*================================
    ANALYST APPLICATION SECTION
==================================*/
#analyst-app {
    color: #fff;
    text-align: center;
}

#analyst-app .overlay {
    background-color: rgba(0, 0, 0, 0.85);
    min-height: 300px;
    color: #fff;
}

#analyst-app h1 {
    padding-top: 80px;
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 30px;
}

#expandheader{
    cursor:pointer;
}
#expandcontent{
    display:none;
}

/*================================
    CLIENTS SECTION STYLES
==================================*/
#clients {
    background-color:#f4f4f4;
    padding-bottom:50px;
    padding-top:50px;
    text-align:center;
}
    #clients img {
        opacity:0.5;
        cursor:pointer;
    }
        #clients img:hover {
            opacity:1;
        }


/*================================
    BIOS SECTION STYLES
================================*/



/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: #d73a3a;
    color: #fff;
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }
